---
layout: default
title: Home
---

<div class="posts">
  {% assign i = 0 %}
  {% for page in site.categories.blog %}
    {% if i == 0 %}
      <div class="post">
      <h1 class="post-title">
      <a href="{{ page.url }}">
      {{ page.title }}
      </a>
      </h1>
      <span class="post-date">{% if page.date %}{% include meta.md %}{% endif %}</span>
      {{ page.content }}
      {{ page.url | share_buttons }}
      {% include comments.html %}
      </div>
      <!-- <hr />
      <h1>More Posts</h1>
    {% else %}
      <div class="post">
        <h3 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <span class="post-date">{% if page.date %}{% include meta.md %}{% endif %}</span>
        <p class="post-excerpt">{{ page.excerpt | strip_html }}&hellip; (<a href="{{ page.url }}">Read More</a>)</p>
      </div>
    {% endif %}
    {% assign i = i | plus: 1 %}
    {% if i > 5 %} -->
      {% break %}
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>